.product {
  background-color: #fff;
  width: 100%;
  // min-width: 100px;
  padding: 20px;
  margin: 20px;
  display: flex;
  z-index: 100;
  flex-direction: column;
  // max-height: 400px;
  p {
    font-weight: 700;
    width: 80%;
  }
}

.product__image {
  width: 120px;
  margin: auto;
  margin-top: 30px;
}
.star__product {
  color: #febd69;
}
.product > button {
  margin: auto;
  margin-top: 20px;
  background-color: #febd69;
  padding: 5px 7px;
  border-radius: 5px;
}
